@charset "UTF-8";

body {
    background-color: #555454;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav {
    text-align: center;
     
    background-color: #444343;
    color: white;
    padding: 10px 20px;
    text-decoration: none;   
}

nav a {
    color: white;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

nav a:hover {
    background-color: #070707;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 5px;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    animation: underline-draw 2s ease-out forwards;
}

@keyframes underline-draw {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

h3 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: blue 1px 1px 2px;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    padding: 5px 0;
}

h3 {
    animation: slideInLeft 3s ease-out;
}

@keyframes slideInLeft  {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 7.5px;
    background-color: #a450ff;
    color: white;
    transition: all 0.2s ease-in-out; 
}


.btn-grow:hover {
    transform: scale(1.15); 
}



.btn-pulse {
    background-color: #ff8c00;
    animation: pulse-glow 2s infinite ease-in-out; 
}


@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 140, 0, 0.7); 
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 140, 0, 0); 
    }
    100% {
        box-shadow: 0 0 0 0px rgba(255, 140, 0, 0);
    }
}

.animation-section {
    text-align: center;
    padding: 20px;
}

.sprite-container {
  width: 100px; 
  height: 206px; 
  background-image: url('couldron_sprite_rsz.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  animation: sprite-walk 3s steps(6) infinite;
}

@keyframes sprite-walk {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: -600px 0;
  }
}