@charset "UTF-8";

body {
    background-color: #555454;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav {
    text-align: center;
     
    background-color: #444343;
    color: white;
    padding: 10px 20px;
    text-decoration: none;   
}

nav a {
    animation: text-decoration-draw 4s forwards;
    color: black;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

@keyframes text-decoration-draw {
    from {
        text-decoration: underline;
        text-decoration-color: transparent;
    }
    to {
        text-decoration: underline;
        text-decoration-color: white;
    }
}

h3 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: blue 1px 1px 2px;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    padding: 5px 0;
}

h3 {
    animation: slideInLeft 3s ease-out;
}

@keyframes slideInLeft  {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}